div.project-manage-div{
    min-width: 1024px;
}

div.left-navigation-div{
    float:left;
    overflow:hidden;
    display: inline;
    width:150px;
    margin-top:10px;
    padding: 10px 20px 10px 10px;
    border: 1px solid #777;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
div.left-navigation-div ul li{
    font-size: 16px;
    list-style-image: url('../images/setting.png');
}

div.right-content-div{
    float:left;
    overflow:auto;
    display: inline;
    border-left: 1px solid #777;
    margin-top: 10px;
    margin-left: 10px;
    min-height: 500px;
    padding: 5px 10px 10px 10px;
    width: 730px;
}
div.right-content-div table{
    width:99%;
    table-layout:fixed;
    margin: 10px 0px;
}

div.right-content-div table p.operation-p{
    margin: 5px 0px;
}

div.right-content-div span.sub-title-span{
    font-size: 24px;
    font-weight: bold;
}
div.right-content-div div.sub-title-div{
    margin-bottom: 10px;
}

/*** for personal page ***/
div.participant-card-notes-div {
    width: 450px;
}
div.participant-card-email-div{
    width: 450px;
}
div.participant-card-name-div{
    
}
div.participant-card-phone-div{
    width: 450px;
}