a.manage_home_link{
    background: url('../images/manage-home-link.png') no-repeat left top;
    padding-left: 20px;
    padding-right: 5px;
    cursor: pointer;
}
a.setting_link{
    background: url('../images/setting.png') no-repeat left top;
    padding-left: 20px;
    padding-right: 5px;
    cursor: pointer;
}
a.message_link{
    background: url('../images/message.png') no-repeat left top;
    padding-left: 20px;
    padding-right: 5px;
    cursor: pointer;
}
div.project-manage-div{
    min-width: 1024px;
}

div.left-navigation-div{
    float:left;
    overflow:hidden;
    display: inline;
    width:170px;
    margin-top:10px;
    padding: 5px;
    border-left: 1px solid #D6DDB9;
    border-top: 1px solid #D6DDB9;
    border-bottom: 1px solid #D6DDB9;
    -moz-border-radius: 5px 0px 0px 5px;
    -khtml-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
}

div.left-navigation-div div.manage-item-tag-div{
    font-size: 16px;
    padding: 5px;
}
div.left-navigation-div div.manage-item-tag-div a.manage-item-a{
    font-size: 16px;
}

div.left-navigation-div ul.manage-item-sub-ul{
    margin: 0px 5px 0px 30px;
    font-size: 14px;
}

div.left-navigation-div ul.manage-item-sub-ul a{
    font-size: 14px;
}

li.manage-item-li{
    background-color: #64ABD1;
    color: #fff;
}

div.right-content-div{
    float:left;
    overflow:auto;
    display: inline;
    border: 1px solid #D6DDB9;
    margin-top: 10px;
    min-height: 500px;
    padding: 10px 10px 10px 10px;
    width: 730px;
}
div.right-content-div table{
    width:99%;
    table-layout:fixed;
    margin: 10px 0px;
}

div.right-content-div table p.operation-p{
    margin: 5px 0px;
}

div.right-content-div span.sub-title-span{
    font-size: 24px;
    font-weight: bold;
}
div.right-content-div div.sub-title-div{
    margin-bottom: 10px;
}

/*** for personal page ***/
div.participant-card-notes-div {
    width: 450px;
}
div.participant-card-email-div{
    width: 450px;
}
div.participant-card-name-div{
    
}
div.participant-card-phone-div{
    width: 450px;
}