a.add_link{
    background: url('../images/add-link.png') no-repeat left top;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 5px;
    cursor: pointer;
}

a.edit_link{
    background: url('../images/edit-link.png') no-repeat left top;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 5px;
    cursor: pointer;
}
a.outer_link{
    background: url('../images/outer-link.png') no-repeat left top;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 5px;
    cursor: pointer;
}
a.delete_link{
    background: url('../images/delete-link.png') no-repeat left top;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 5px;
    cursor: pointer;
}
a.back_link{
    background: url('../images/back-link.png') no-repeat left top;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 5px;
    cursor: pointer;
}
a.tags_link{
    background: url('../images/tags-link.png') no-repeat left top;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 5px;
    cursor: pointer;
}
a.reload_link{
    background: url('../images/reload-link.png') no-repeat left top;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 5px;
    cursor: pointer;
}
a.view_link{
    background: url('../images/view-link.png') no-repeat left top;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 5px;
    cursor: pointer;
}

img.tool_logo_image{
    width: 120px;
    height: 120px;
}

div.project-introduction-div{
    padding: 20px;
}

div.loading-div{
    background: url('../images/loading.gif') no-repeat left top;
    width: 36px;
    height: 36px;
}